@model IEnumerable<Tool_N_GOOD.Models.Tool>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Measurement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serviceable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToolType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Measurement)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Measurement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serviceable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToolType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Measurement)
            </td>
           



            <td>
                @if (!(item.UsageHistories?.ToList().Count > 0) || !(item.UsageHistories?.ToList()[0].CheckoutTime != null))
                {
                <a asp-action="Create" asp-controller="UsageHistories" asp-route-id="@item.ToolId">Check-Out Tool</a>
                
                }
                    <a asp-action="Delete"  asp-route-id="@item.ToolId">Delete</a>
                    <a asp-action="Edit"  asp-route-id="@item.ToolId">Edit</a>
                    <a asp-action="Details"  asp-route-id="@item.ToolId">Details</a>
                
               

            </td>
           



        </tr>
        }
    </tbody>
</table>
