@page
@model Tool_N_GOOD.Areas.Identity.Pages.Account.Manage.UsageHistoryModel

@{
    ViewData["Title"] = "UsageHistory";
    ViewData["ActivePage"] = ManageNavPages.UsageHistory;
}

<h1>Usage History</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsageHistoryies[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsageHistoryies[0].Tool)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsageHistoryies[0].TaskFor)
            </th>
           
           
            <th>
                @Html.DisplayNameFor(model => model.UsageHistoryies[0].CheckoutTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsageHistoryies[0].ExpectedReturn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsageHistoryies[0].PromiseReturn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UsageHistoryies) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tool.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskFor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckoutTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedReturn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PromiseReturn)
            </td>
            <td>
                <a asp-action="Details" asp-controller="UsageHistories" asp-route-id="@item.UsageHistoryId">Details</a> 
                <a asp-action="Edit" asp-controller="UsageHistories" asp-route-id="@item.UsageHistoryId">Edit</a> 

            </td>
        </tr>
}
    </tbody>
</table>
